/* body {
  background-color: hsl(var(--b1) / var(--tw-bg-opacity));
  color: hsl(var(--pc));
} */

.card-wrapper {
  /* position: absolute; */
  grid-row-start: 1;
  grid-column-start: 1;
  transition: all 0.75s ease, opacity 0.5s ease;
}

.btn {
  margin-left: 50px;
  margin-right: 50px;
}